/* Responsive vimeo iframe */
.embed-container { position: relative; padding-bottom: 100vh; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroy/gilroy.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'gilroy-bold';
  src: url('../fonts/gilroy/gilroy-bold.otf') format('truetype');
}

@font-face {
  font-family: 'andes';
  src: url('../fonts/andes/andes.otf') format('truetype');
}

body {
  font-family: 'gilroy';
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.5em;
  color: #8e8e8e;
}

a {
  color: #c7c7c7;
  text-decoration: none;
  font-family: 'gilroy'; 
  transition: all .2s ease-out;
}

a:hover {
  color: #a7daed;
}

.fp-tableCell {
  height: 100vh;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#team-section .fp-slides {
  width: 80%;
  margin: 0 10%;
}

.fp-controlArrow {
  font-size: 25px;
  margin-top: 0 !important;
  width: 40px !important;
  height: 40px !important;
  padding: 5px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(141, 157, 176, .4);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fp-controlArrow > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fp-controlArrow svg {
  transition: transform .2s ease-out;
  transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
  left: 2% !important;
}

.fp-controlArrow.fp-prev > div {
  transform: rotate(-180deg);
}

.fp-controlArrow.fp-prev:hover svg {
  transform: translate3d(10px, 0, 0);
}

.fp-controlArrow.fp-next {
  right: 2% !important; 
}

.fp-controlArrow.fp-next:hover svg {
  transform: translate3d(10px, 0, 0);
}

.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next {
  border: none;
}
.wrapper {
  margin: 0 20%;
}

.upper {
  text-transform: uppercase;
}

nav,
.socials {
  left: 0;
  z-index: 1;
  width: 80%;
  margin: 0 10%;
  position: fixed;
}

/* Menu */
nav {
  top: 30px;
}

nav .hamburger {
  display: none;
}

nav ul {
  white-space: nowrap;
  height: 60px;
  line-height: 60px;
}

nav ul li {
  display: inline-block;
  width: 20%;
  text-align: center;
  vertical-align: middle;
}

nav ul li:first-child {
  text-align: left;
}

nav ul li:last-child {
  text-align: right;
}

nav ul li a {
  padding: 7px 8px 8px;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
}

nav ul li .icon-cross {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: color .2s ease-out;
  display: none;
}

nav ul li .icon-cross:hover {
  color: #a7daed;
}

nav ul li.active a {
  color: #a7daed;
}

nav ul li a.white-link {
  color: white;
}

nav ul li a.white-link:hover,
nav ul li.active a.white-link {
  color: #a7daed;
}


nav ul li[data-menuanchor="home"] a {
  transition: none;
}

nav ul li a img {
  vertical-align: middle;
}

/* Socials */
.socials {
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.socials:after {
  clear: both;
}

.socials ul,
.socials .copyright {
  width: 50%;
}

.socials ul {
  float: left;
}

.socials ul li {
  margin: 0 10px;
  display: inline-block;
}

.copyright {
  float: right;
  margin: 0;
  text-align: right;
}

.copyright img {
  vertical-align: middle; 
}

/* TRAILER */
.video-section {
  background: white;
  transition: background .5s ease-out
}

.video-section.video-is-playing {
  background: black;
}

.video-section .fp-tableCell{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
}

/* Home */
#home-section {
  background: url('../images/trailer/trailer.png') center;
  background-size: cover;
  animation: fadeIn 1s ease-out .5s both
}

.embed-section {
  width: 100%;
  height: 100vh;
  display: none;
}

.play-button {
  font-family: Gilroy-Bold;
  font-size: 16px;
  color: #FFFFFF;
  border: 2px solid white;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 60px auto;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all .2s ease-out;
  text-align: center;
}

.play-button:not(#movie-button) {
  border: none;
  border-radius: 0;
  width: initial;
  height: initial;
  margin: 10px;
  padding: 10px;
}

.play-button:hover {
  background: white;
  color: #8D9DB0;
}

/* trailer */
#trailer-section .trailer-wrapper {
  opacity: 0;
}

/* story */
#story-section .wrapper {
  opacity: 0;
}

#story-section p {
  font-size: 30px;
  font-family: 'andes';
  color: #8D9DB0;
  letter-spacing: 0;
  line-height: 60px;
  text-align: center;
}

/* Casting */
#casting-section {
  opacity: 0;
  position: relative;
}

#casting-section .casting-wrapper.hover img {
  opacity: 1;
}

#casting-section .casting-wrapper.not-hover img {
  opacity: .1;
}

#casting-section img {
  position: absolute;
  bottom: 0;
  opacity: .9;
  transition: all .2s ease-out;
}

.img-mia {
  left: 10%;
  z-index: 2;
}

.img-victor {
  right: 10%;
}

.casting-content {
  color: #8D9DB0;
  width: 345px;
  position: absolute;
  font-size: 20px;  
  display: none;
  transition: all .2s ease-out;
  z-index: 2;
  top: 40%;
}

.casting-header {
  font-family: 'gilroy-bold';
  font-size: 12px;
}

.casting-header .upper {
  font-size: 20px;  
}

.casting-header {
  border-bottom: 1px solid #C7D5E4;
  padding-bottom: 20px;
}

.casting-header > div {
  display: inline-block;
  padding-left: 20px 
}

.casting-header > div:first-child {
  width: 60px;  
  border-right: 1px solid #C7D5E4;
  padding-left: 0;
  padding-right: 20px;
}

.casting-header p {
  margin: 4px;
  line-height: 1 ;
}

.mia-content {
  right: 17%;
}

.victor-content {
  left: 17%;
}

.casting-text {
  font-family: 'andes';
  margin-top: 20px;
}

.casting-text p {
  margin: 0;
}

/* team */
#team-section .wrapper {
  opacity: 0;
}

.team-list {
  position: relative;
  font-size: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-list li {
  display: inline-block;
  position: relative;
}

.team-list li img {
  height: 40vh;
  margin-bottom: 20px;
}

.team-list li p {
  margin: 0;
  color: white;
  font-size: 20px;
  color: #8D9DB0;
  font-family: 'andes';
}

.team-list li p:last-child {
  font-size: 15px;
}

/* makingof-section */
#makingof-section .fp-tableCell {
  flex-direction: row;
}

#makingof-section .makingof-img {
  width: 50vw;
  height: 100vh;
  background-position: center;
  background-size: cover; 
}

/* Animations */
.fade-in {
  animation: fadeIn 1s ease-out both
}

.fade-in-slide-in-up {
  animation: fadeIn 1s ease-out, slideInUp 1s ease-out
}

/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/* Phone and tablet */
@media screen and (max-width: 1024px) {
  .play-button {
    width: 100px;
    height: 100px;
    font-size: 14px;
    margin: 60px 0 0;
  }

  nav {
    width: 100%;
    margin: 0;
    top: 0;
  }

  nav ul {
    display: none;
    width: 100vw; 
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    position: absolute;
    top: 0;
  }

  nav ul li {
    padding: 10px 0;
    margin: 0;
    width: initial;
  }

  nav .hamburger {
    display: block;
    width: 30px;
    height: 21px;
    margin: 15px auto;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 2;
  }

  nav .hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #8e8e8e;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  nav .hamburger span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  nav .hamburger span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }

  nav .hamburger span:nth-child(1), nav .hamburger span:nth-child(2) {
    top: 0px;
  }

  nav .hamburger span:nth-child(3), nav .hamburger span:nth-child(4) {
    top: 9px;
  }

  nav .hamburger span:nth-child(5), nav .hamburger span:nth-child(6) {
    top: 18px;
  }

  nav .hamburger.open span:nth-child(1),nav .hamburger.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  nav .hamburger.open span:nth-child(2),nav .hamburger.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  nav .hamburger.open span:nth-child(1) {
    left: 1px;
    top: 7px;
  }

  nav .hamburger.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  nav .hamburger.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  nav .hamburger.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  nav .hamburger.open span:nth-child(5) {
    left: 1px;
    top: 16px;
  }

  nav .hamburger.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 16px;
  }

  .wrapper {
    margin: 0;
  }

  #story-section p {
    font-size: 15px;
    padding: 0 10%  ;
  }

  .team-list {
    flex-wrap: wrap;
  }

  .team-list li {
    width: 50%;
  }

  .team-list li img {
    height: initial;
    width: 75%;
  }

  .team-list li p {
    font-size: 15px
  }

  .team-list li p {
    font-size: 12px;
  }

  .copyright {
    left: 10px;
    font-size: 10px;
  }

  .casting-content {
    display: initial;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    background: rgba(0, 0, 0, .5);
    padding: 5px;
  }

  .mia-content {
    top: 20%;
  }

  .victor-content {
    bottom: 10%;
    top: initial;
  }

  .casting-content p {
    color: white;
  }

  #makingof-section .fp-tableCell {
    flex-direction: column;
  }

  #makingof-section .makingof-img {
    width: 100%;
    height: 50vh;
  }

  .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
    font-size: 40px;
  }

  nav ul li a.white-link {
    color: #c7c7c7;
  }

  .fp-controlArrow.fp-next:hover svg {
    transform: none;
  }

  #home-section .fp-tableCell img {
    max-width: 100%;
  }

  .socials {
    bottom: 10px
  }

  .socials img {
    width: 50%;
  }

  #casting-section img {
    height: 100vh;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .play-button {
    margin: 0;
  }

  nav ul li {
    padding: 0;
    margin: 0;
  }

  #casting-section img {
    height: 100vh;
  }

  .casting-content {
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }

  .mia-content {
    left: 1%;
  }

  .victor-content {
    right: 5%;
  }

  #makingof-section .fp-tableCell {
    flex-direction: row;
  }

  #makingof-section .makingof-img {
    width: 50%;
    height: 100vh;
  }

  .fp-controlArrow.fp-next {
    right: 10% !important;
  }
}